*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 800px;
    min-height: 100vh;
    font-size: 1.5rem;
    padding: 1.5em;
    margin: 0.5em;
    border: 2px solid gray;
    background-image: radial-gradient(whitesmoke,olivedrab);
}

.main__table{
    border: 1px solid black;
    display: grid;
    grid-template-areas: "tt1 tt2 tt3"
    "th th th "
    "ti ti ti"
    "tf tf tf ";
}
.table__title{
    grid-area: tt;
    justify-content: center;
}
thead{
    grid-area: th;
}
tbody{
    grid-area: ti;
}
tfoot{
    grid-area: tf;
}

thead,
tbody,tfoot,th{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
tr{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: 1/3;
    gap: 2.5rem;

}

.table__header,
.table__item {
    width: 100%;
    padding: 1em;
    border: medium ridge black;
}
